ErrorDocument 404 http://localhost/challenge/404.html
# Turn Rewrite Engine On
RewriteEngine on
RewriteRule ^home$ home_page.php [NC,L]
RewriteRule ^institution$ institution_page.php [NC,L]
RewriteRule ^result$ search_result.php [NC,L]
RewriteRule ^news$ blog_news.php [NC,L]
RewriteRule ^help$ help_section.php [NC,L]